.search-filter {
  display: grid;
  grid-template-columns: auto minmax(0, 300px);
  justify-content: end;
  align-items: center;
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-xl);
  width: 100%;
}
