.podcast-layout {
  display: flex;
  gap: 100px;
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width);
  padding: 0 var(--container-padding);
}

.podcast-layout__content {
  flex: 1;
}

@media (max-width: 768px) {
  .podcast-layout {
    flex-direction: column;
    gap: var(--spacing-lg);
  }

  .podcast-sidebar {
    width: 100%;
    align-self: center;
  }
}
